<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}">
    <title>Document</title>
</head>
<body>
    <div style="margin-top:40px"> 
        <div class="nav">
            <div>
                <p class="title">Welcome {{ user.first_name }}!</p>
            </div>
            <div style="display: flex"> 
                <form action="/new"><button action='/new' type="submit" class="topbtn">Create</button></form>
                <form action="/logout"><button action='/logout' type="submit" class="topbtn">Logout</button></form>
            </div>
        </div>    
        <div class="box">
            <p>These are the recipes</p>   
            <table class="table table-striped">
                <tr>
                    <th>Name:</th>
                    <th>Under 30 Minutes:</th>
                    <th>Actions:</th>
                    <th id="act"></th>
                </tr>
                <tb>
                    {% if all_recipes %}
                    {% for recipe in all_recipes %}
                    <tr>
                        <td>{{recipe.name}}</td>
                        <td>{{recipe.under_min | replace (0, 'No') | replace (1, 'Yes')}}</td>
                        <td>{{user.actions}}</td>
                        <td style="display:flex;margin-left: -130px;">
                            <form action="/recipe/{{recipe.id}}/show"><button action='/show' type="submit" class="dashbtn">view instructions</button></form>
                            <form action="/edit/{{recipe.id}}"><button action='/edit' type="submit" class="dashbtn">edit</button></form>
                            <form action="/recipe/{{recipe.id}}/delete" method="post"><button action="/recipe/{{recipe.id}}/delete" type="submit" class="dashbtn">delete</button></form>
                        </td>
                        </form></th>
                    </tr>
                    {% endfor %}
                    {% endif %}
                </tb>
            </table>


        </div>
    <div/>
</body>
</html>